<div class="container">
  <h1>My Bubble Tea App</h1>
  <button (click)="customerView()" class="btn btn-primary" id="toggle">Toggle Customer View</button>
  <tea-tile [teas] = "teas" (removeSend) = "removeTea($event)"></tea-tile>

  <div class="row owner">
    <new-tea (submitNewTeaSend) = "submitNewTea($event)"></new-tea>
    <new-ingredient (submitNewIngredientSend) = "submitNewIngredient($event)"></new-ingredient>
  </div>
  <div class="owner">
    <ingredient-tile [ingredients] = "ingredients" (removeSend) = "removeIngredient($event)"></ingredient-tile>
  </div>

  </div>
