<h3>Teas</h3>
<ul>
  <li [class]="priceColor(currentTea)" [class]="quantityColor(currentTea)" *ngFor="let currentTea of teas">{{currentTea.name}}: {{currentTea.flavor}} {{currentTea.remaining}} (cups left) ${{currentTea.price}};
  <span class="runout">Runout</span>
  <button (click)="sellTea(currentTea)" class="btn btn-warning">Sell!</button>
  <button (click)="currentTea.editForm = !currentTea.editForm" class="btn btn-info">{{currentTea.editForm ? 'Hide Edit Form' : 'Show Edit Form'}}</button>
  <div *ngIf="currentTea.editForm" class="well">
    <edit-tea [tea] = "currentTea" (removeSend) = "removeTea($event)"></edit-tea>
     <button (click)="currentTea.editForm = !currentTea.editForm" class="btn btn-default">Done Editing</button>
  </div>
  </li>
</ul>
